<form [formGroup]="valentineFormGroup" class="form-page">

  <div class="form-selection-area">
    <div class="stack flex-center label-large opacity-7">When will le Boons be available?</div>


    <div class="stack">
      <p-date-picker class="max-w-full"
                     formControlName="date"
                     [inline]="true"
                     [showWeek]="true"
                     [minDate]="currentDate"/>

    </div>
  </div>

  <div class="flex-row justify-space-between gap-md">
    <p-button label="Previous" (click)="onPrevious()"/>
    <p-button [disabled]="!valentineFormGroup.controls['date'].valid" label="Next" (click)="onNext()"/>
  </div>

</form>
