<div class="form-page">

  <div class="form-selection-area">
    <div class="stack flex-center label-large opacity-7">When Will the Boons be available?</div>


    <p-date-picker class="max-w-full"
                   [(ngModel)]="date"
                   [inline]="true"
                   [showWeek]="true"
                   [minDate]="currentDate"/>
    <div class="stack flex-center label-small opacity-7">Selections of food and restaurants</div>
  </div>

  <div class="flex-row justify-space-between gap-md">
    <p-button label="Previous" (click)="onPrevious()"/>
    <p-button label="Next" (click)="onNext()"/>
  </div>

</div>
