.border-outline {
  border: 1px solid var(--atom-color-outline);
}

.border-outline-top {
  border-top: 1px solid var(--atom-color-outline);
}

.border-outline-right {
  border-right: 1px solid var(--atom-color-outline);
}

.border-outline-left {
  border-left: 1px solid var(--atom-color-outline);
}

.border-outline-bottom {
  border-bottom: 1px solid var(--atom-color-outline);
}
