.extra-small-icon {
  font-size: var(--atom-icon-extra-small);
}

.small-icon {
  font-size: var(--atom-icon-small);
}

.medium-icon {
  font-size: var(--atom-icon-medium);
}

.large-icon {
  font-size: var(--atom-icon-large);
}

.extra-large-icon {
  font-size: var(--atom-icon-extra-large);
}
.icon-size-28 {
  font-size: 28px;
}
