//:root {
//  --atom-input-colour: #ffffff;
//}
//
//[data-theme-mode='dark'] {
//  --atom-input-colour: #000;
//}
input {
  border-radius: var(--atom-dimension-extra-small);
  box-sizing: border-box;
  height: 80%;
  border: none;
  transition: box-shadow 0.3s;
  padding: 8px 16px;
  line-height: 1.75;
  width: 100%;
  background-color: var(--atom-color-surface-container-high);
}

input:focus {
  box-shadow: var(--atom-elevation-three-shadow);
  outline: none;
}

input {
  &.no-styling {
    border: none;

    &:focus {
      box-shadow: none;
    }

  }
}
