.standard-margin-top {
  margin-top: var(--atom-dimension-medium);
}
.small-margin-top {
  margin-top: var(--atom-dimension-small);
}
.xs-margin-top {
  margin-top: var(--atom-dimension-extra-small);
}
.standard-margin-bottom {
  margin-bottom: var(--atom-dimension-medium);
}
.large-margin-top {
  margin-top: var(--atom-dimension-large);
}
