.padding-top-extra-small {
  padding-top: var(--atom-dimension-xs);
}

.padding-top-small {
  padding-top: var(--atom-dimension-s);
}

.padding-top-medium {
  padding-top: var(--atom-dimension-m);
}

.padding-top-large {
  padding-top: var(--atom-dimension-l);
}

.padding-top-extra-large {
  padding-top: var(--atom-dimension-xl);
}

.padding-right-extra-small {
  padding-right: var(--atom-dimension-xs);
}

.padding-right-small {
  padding-right: var(--atom-dimension-s);
}

.padding-right-medium {
  padding-right: var(--atom-dimension-m);
}

.padding-right-large {
  padding-right: var(--atom-dimension-l);
}

.padding-right-extra-large {
  padding-right: var(--atom-dimension-xl);
}

.padding-bottom-extra-small {
  padding-bottom: var(--atom-dimension-xs);
}

.padding-bottom-small {
  padding-bottom: var(--atom-dimension-s);
}

.padding-bottom-medium {
  padding-bottom: var(--atom-dimension-m);
}

.padding-bottom-large {
  padding-bottom: var(--atom-dimension-l);
}

.padding-bottom-extra-large {
  padding-bottom: var(--atom-dimension-xl);
}

.padding-left-extra-small {
  padding-left: var(--atom-dimension-xs);
}

.padding-left-small {
  padding-left: var(--atom-dimension-s);
}

.padding-left-medium {
  padding-left: var(--atom-dimension-m);
}

.padding-left-large {
  padding-left: var(--atom-dimension-l);
}

.padding-left-extra-large {
  padding-left: var(--atom-dimension-xl);
}

.padding-extra-small {
  padding: var(--atom-dimension-xs);
}

.padding-small {
  padding: var(--atom-dimension-small);
}

.padding-medium {
  padding: var(--atom-dimension-m);
}

.padding-large {
  padding: var(--atom-dimension-l);
}

.padding-extra-large {
  padding: var(--atom-dimension-xl);
}
