<div class="bunito-page-container">
    <atom-valentine-form></atom-valentine-form>
</div>

















<div class="bottom-corner-box">
  <p-speeddial [model]="speedDialItems" [radius]="80" type="quarter-circle" direction="up-left">

    <ng-template #item let-item let-toggleCallback="toggleCallback">
      @switch (item.label) {
        @case ('themeToggle') {
          <atom-theme-mode-toggle/>
        }
        @case ('love') {
          <atom-love-button/>
        }
        @case ('fullScreen') {
          <atom-full-screen-toggle/>
        }
      }
    </ng-template>
  </p-speeddial>
</div>
