<div class="bunito-page-container">
  <atom-valentine-form class="flex-1" [style.width]="'100%'"></atom-valentine-form>

  <p-speeddial (onShow)="onShowSpeedDial()" (onHide)="onHideSpeedDial()" class="fixed-bottom-right" [model]="speedDialItems" direction="up">
    <ng-template #item let-item let-toggleCallback="toggleCallback">
      @switch (item.label) {
        @case ('themeToggle') {
          <atom-theme-mode-toggle/>
        }
        @case ('love') {
          <atom-love-button/>
        }
        <!--          @case ('fullScreen') {-->
          <!--            <atom-full-screen-toggle/>-->
          <!--          }-->
      }
    </ng-template>
  </p-speeddial>
</div>


@if(showScreenMask) {
  <div class="screen-darken"></div>
}











