<form [formGroup]="valentineFormGroup" class="bunito-valentine">
  <div class="header-area">
    <h1 class="headline-medium">
      <i class="fa-solid fa-heart fa-fade icon-size-28 primary-pink"></i>
      Bunito Valentine
      <i class="fa-solid fa-heart fa-fade icon-size-28 primary-pink"></i>
    </h1>
  </div>

  <p-card class="form-steps">
    <p-steps [readonly]="true" [activeIndex]="activeStep" [model]="formSteps"></p-steps>
  </p-card>


  @switch (activeStep) {
    @case (0) {
      <atom-valentine-form-one [valentineFormGroup]="valentineFormGroup"
                               (activateCallback)="onChangeStep($event)"></atom-valentine-form-one>
    }
    @case (1) {
      <atom-valentine-form-two [valentineFormGroup]="valentineFormGroup"
                               (activateCallback)="onChangeStep($event)"></atom-valentine-form-two>
    }
    @case (2) {
      <atom-valentine-form-three [valentineFormGroup]="valentineFormGroup"
                                 (activateCallback)="onChangeStep($event)"></atom-valentine-form-three>
    }
    @case (3) {
      <atom-valentine-form-four [valentineFormGroup]="valentineFormGroup"
                                (activateCallback)="onChangeStep($event)"></atom-valentine-form-four>
    }
  }

</form>
