[data-theme-colour='purple'][data-theme-mode='light'][data-contrast='medium'] {
  --atom-color-primary: rgb(64 60 115);
  --atom-color-surface-tint: rgb(92 88 145);
  --atom-color-on-primary: rgb(255 255 255);
  --atom-color-primary-container: rgb(114 110 169);
  --atom-color-on-primary-container: rgb(255 255 255);
  --atom-color-secondary: rgb(66 65 85);
  --atom-color-on-secondary: rgb(255 255 255);
  --atom-color-secondary-container: rgb(117 114 136);
  --atom-color-on-secondary-container: rgb(255 255 255);
  --atom-color-tertiary: rgb(92 56 75);
  --atom-color-on-tertiary: rgb(255 255 255);
  --atom-color-tertiary-container: rgb(147 104 125);
  --atom-color-on-tertiary-container: rgb(255 255 255);
  --atom-color-error: rgb(140 0 9);
  --atom-color-on-error: rgb(255 255 255);
  --atom-color-error-container: rgb(218 52 46);
  --atom-color-on-error-container: rgb(255 255 255);
  --atom-color-background: rgb(252 248 255);
  --atom-color-on-background: rgb(28 27 32);
  --atom-color-surface: rgb(252 248 255);
  --atom-color-on-surface: rgb(28 27 32);
  --atom-color-surface-variant: rgb(229 225 236);
  --atom-color-on-surface-variant: rgb(67 66 75);
  --atom-color-outline: rgb(96 94 103);
  --atom-color-outline-variant: rgb(124 121 131);
  --atom-color-shadow: rgb(0 0 0);
  --atom-color-scrim: rgb(0 0 0);
  --atom-color-inverse-surface: rgb(49 48 54);
  --atom-color-inverse-on-surface: rgb(243 239 247);
  --atom-color-inverse-primary: rgb(197 192 255);
  --atom-color-primary-fixed: rgb(114 110 169);
  --atom-color-on-primary-fixed: rgb(255 255 255);
  --atom-color-primary-fixed-dim: rgb(89 85 143);
  --atom-color-on-primary-fixed-variant: rgb(255 255 255);
  --atom-color-secondary-fixed: rgb(117 114 136);
  --atom-color-on-secondary-fixed: rgb(255 255 255);
  --atom-color-secondary-fixed-dim: rgb(92 90 111);
  --atom-color-on-secondary-fixed-variant: rgb(255 255 255);
  --atom-color-tertiary-fixed: rgb(147 104 125);
  --atom-color-on-tertiary-fixed: rgb(255 255 255);
  --atom-color-tertiary-fixed-dim: rgb(120 80 100);
  --atom-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --atom-color-surface-dim: rgb(220 216 224);
  --atom-color-surface-bright: rgb(252 248 255);
  --atom-color-surface-container-lowest: rgb(255 255 255);
  --atom-color-surface-container-low: rgb(246 242 250);
  --atom-color-surface-container: rgb(240 236 244);
  --atom-color-surface-container-high: rgb(235 231 239);
  --atom-color-surface-container-highest: rgb(229 225 233);
}
