[data-theme-colour='purple'][data-theme-mode='light'][data-contrast='high'] {
  --atom-color-primary: rgb(31 26 81);
  --atom-color-surface-tint: rgb(92 88 145);
  --atom-color-on-primary: rgb(255 255 255);
  --atom-color-primary-container: rgb(64 60 115);
  --atom-color-on-primary-container: rgb(255 255 255);
  --atom-color-secondary: rgb(34 32 51);
  --atom-color-on-secondary: rgb(255 255 255);
  --atom-color-secondary-container: rgb(66 65 85);
  --atom-color-on-secondary-container: rgb(255 255 255);
  --atom-color-tertiary: rgb(55 23 41);
  --atom-color-on-tertiary: rgb(255 255 255);
  --atom-color-tertiary-container: rgb(92 56 75);
  --atom-color-on-tertiary-container: rgb(255 255 255);
  --atom-color-error: rgb(78 0 2);
  --atom-color-on-error: rgb(255 255 255);
  --atom-color-error-container: rgb(140 0 9);
  --atom-color-on-error-container: rgb(255 255 255);
  --atom-color-background: rgb(252 248 255);
  --atom-color-on-background: rgb(28 27 32);
  --atom-color-surface: rgb(252 248 255);
  --atom-color-on-surface: rgb(0 0 0);
  --atom-color-surface-variant: rgb(229 225 236);
  --atom-color-on-surface-variant: rgb(36 35 43);
  --atom-color-outline: rgb(67 66 75);
  --atom-color-outline-variant: rgb(67 66 75);
  --atom-color-divider: #e2e2e2;
  --atom-color-shadow: rgb(0 0 0);
  --atom-color-scrim: rgb(0 0 0);
  --atom-color-inverse-surface: rgb(49 48 54);
  --atom-color-inverse-on-surface: rgb(255 255 255);
  --atom-color-inverse-primary: rgb(238 233 255);
  --atom-color-primary-fixed: rgb(64 60 115);
  --atom-color-on-primary-fixed: rgb(255 255 255);
  --atom-color-primary-fixed-dim: rgb(41 37 92);
  --atom-color-on-primary-fixed-variant: rgb(255 255 255);
  --atom-color-secondary-fixed: rgb(66 65 85);
  --atom-color-on-secondary-fixed: rgb(255 255 255);
  --atom-color-secondary-fixed-dim: rgb(44 43 62);
  --atom-color-on-secondary-fixed-variant: rgb(255 255 255);
  --atom-color-tertiary-fixed: rgb(92 56 75);
  --atom-color-on-tertiary-fixed: rgb(255 255 255);
  --atom-color-tertiary-fixed-dim: rgb(67 34 52);
  --atom-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --atom-color-surface-dim: rgb(220 216 224);
  --atom-color-surface-bright: rgb(252 248 255);
  --atom-color-surface-container-lowest: rgb(255 255 255);
  --atom-color-surface-container-low: rgb(246 242 250);
  --atom-color-surface-container: rgb(240 236 244);
  --atom-color-surface-container-high: rgb(235 231 239);
  --atom-color-surface-container-highest: rgb(229 225 233);
}
