[data-theme-colour='purple'] {
  --atom-color-primary: rgb(98 89 202);
  --atom-color-surface-tint: rgb(92 88 145);
  --atom-color-on-primary: rgb(255 255 255);
  --atom-color-primary-container: rgb(227 223 255);
  --atom-color-on-primary-container: rgb(24 18 74);
  --atom-color-secondary: rgb(94 92 113);
  --atom-color-on-secondary: rgb(255 255 255);
  --atom-color-secondary-container: rgb(228 223 249);
  --atom-color-on-secondary-container: rgb(27 26 44);
  --atom-color-tertiary: rgb(123 82 103);
  --atom-color-on-tertiary: rgb(255 255 255);
  --atom-color-tertiary-container: rgb(255 216 233);
  --atom-color-on-tertiary-container: rgb(47 17 34);
  --atom-color-error: rgb(186 26 26);
  --atom-color-on-error: rgb(255 255 255);
  --atom-color-error-container: rgb(255 218 214);
  --atom-color-on-error-container: rgb(65 0 2);
  --atom-color-background: rgb(252 248 255);
  --atom-color-on-background: rgb(28 27 32);
  --atom-color-surface: rgb(252 248 255);
  --atom-color-on-surface: rgb(28 27 32);
  --atom-color-surface-variant: rgb(229 225 236);
  --atom-color-on-surface-variant: rgb(71 70 79);
  --atom-color-outline: rgb(120 118 128);
  --atom-color-outline-variant: rgb(200 197 208);
  --atom-color-shadow: rgb(0 0 0);
  --atom-color-scrim: rgb(0 0 0);
  --atom-color-inverse-surface: rgb(49 48 54);
  --atom-color-inverse-on-surface: rgb(243 239 247);
  --atom-color-inverse-primary: rgb(197 192 255);
  --atom-color-primary-fixed: rgb(227 223 255);
  --atom-color-on-primary-fixed: rgb(24 18 74);
  --atom-color-primary-fixed-dim: rgb(197 192 255);
  --atom-color-on-primary-fixed-variant: rgb(68 64 120);
  --atom-color-secondary-fixed: rgb(228 223 249);
  --atom-color-on-secondary-fixed: rgb(27 26 44);
  --atom-color-secondary-fixed-dim: rgb(199 196 220);
  --atom-color-on-secondary-fixed-variant: rgb(70 69 89);
  --atom-color-tertiary-fixed: rgb(255 216 233);
  --atom-color-on-tertiary-fixed: rgb(47 17 34);
  --atom-color-tertiary-fixed-dim: rgb(235 184 208);
  --atom-color-on-tertiary-fixed-variant: rgb(96 59 79);
  --atom-color-surface-dim: rgb(220 216 224);
  --atom-color-surface-bright: rgb(252 248 255);
  --atom-color-surface-container-lowest: rgb(255 255 255);
  --atom-color-surface-container-low: rgb(246 242 250);
  --atom-color-surface-container: rgb(234 237 247);
  --atom-color-surface-container-high: rgb(235 231 239);
  --atom-color-surface-container-highest: rgb(229 225 233);
}
