/*These two attributes are adjacent with no space to signify they arent descendent*/
[data-theme-mode='light'][data-contrast='high']  {
  --atom-color-primary: rgb(22 39 0);
  --atom-color-surface-tint: rgb(77 102 42);
  --atom-color-on-primary: rgb(255 255 255);
  --atom-color-primary-container: rgb(51 73 16);
  --atom-color-on-primary-container: rgb(255 255 255);
  --atom-color-secondary: rgb(29 37 17);
  --atom-color-on-secondary: rgb(255 255 255);
  --atom-color-secondary-container: rgb(61 70 47);
  --atom-color-on-secondary-container: rgb(255 255 255);
  --atom-color-tertiary: rgb(0 39 37);
  --atom-color-on-tertiary: rgb(255 255 255);
  --atom-color-tertiary-container: rgb(26 74 70);
  --atom-color-on-tertiary-container: rgb(255 255 255);
  --atom-color-error: rgb(78 0 2);
  --atom-color-on-error: rgb(255 255 255);
  --atom-color-error-container: rgb(140 0 9);
  --atom-color-on-error-container: rgb(255 255 255);
  --atom-color-background: rgb(249 250 239);
  --atom-color-on-background: rgb(26 28 22);
  --atom-color-surface: rgb(249 250 239);
  --atom-color-on-surface: rgb(0 0 0);
  --atom-color-surface-variant: rgb(225 228 213);
  --atom-color-on-surface-variant: rgb(34 37 27);
  --atom-color-outline: rgb(65 68 57);
  --atom-color-outline-variant: rgb(65 68 57);
  --atom-color-shadow: rgb(0 0 0);
  --atom-color-scrim: rgb(0 0 0);
  --atom-color-inverse-surface: rgb(47 49 42);
  --atom-color-inverse-on-surface: rgb(255 255 255);
  --atom-color-inverse-primary: rgb(216 247 170);
  --atom-color-primary-fixed: rgb(51 73 16);
  --atom-color-on-primary-fixed: rgb(255 255 255);
  --atom-color-primary-fixed-dim: rgb(30 50 0);
  --atom-color-on-primary-fixed-variant: rgb(255 255 255);
  --atom-color-secondary-fixed: rgb(61 70 47);
  --atom-color-on-secondary-fixed: rgb(255 255 255);
  --atom-color-secondary-fixed-dim: rgb(39 48 26);
  --atom-color-on-secondary-fixed-variant: rgb(255 255 255);
  --atom-color-tertiary-fixed: rgb(26 74 70);
  --atom-color-on-tertiary-fixed: rgb(255 255 255);
  --atom-color-tertiary-fixed-dim: rgb(0 51 48);
  --atom-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --atom-color-surface-dim: rgb(218 219 208);
  --atom-color-surface-bright: rgb(249 250 239);
  --atom-color-surface-container-lowest: rgb(255 255 255);
  --atom-color-surface-container-low: rgb(244 244 233);
  --atom-color-surface-container: rgb(238 239 227);
  --atom-color-surface-container-high: rgb(232 233 222);
  --atom-color-surface-container-highest: rgb(226 227 216);
}
