//@use './styling/utility-classes/animation.styling';
//@use './styling/utility-classes/border-outline.styling';
//@use './styling/utility-classes/button.styling';
@use './styling/utility-classes/colour.styling';
//@use './styling/utility-classes/container.styling';
//@use './styling/utility-classes/divider.styling';
//@use './styling/utility-classes/elevation.styling';
@use './styling/utility-classes/icon.styling';
@use './styling/utility-classes/layout.styling';
//@use './styling/utility-classes/margin.styling';
@use './styling/utility-classes/opacity.styling';
@use './styling/utility-classes/overlay.styling';
//@use './styling/utility-classes/shape.styling';
//@use './styling/utility-classes/spacing.styling';
@use './styling/utility-classes/stack.styling';
@use './styling/utility-classes/padding.styling';
@use './styling/utility-classes/type.styling';
//@use './styling/utility-classes/web-core.styling';
//@use './styling/utility-classes/z-index.styling';
@import './styling/theme.css';

body {
  color: var(--atom-color-on-background);
  background: var(--atom-color-background);
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  //overflow: hidden;
  //touch-action: manipulation;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}
.primary-pink {
  color: var(--atom-p-pink-500);
}

.text-align-center {
  text-align: center;
}

.form-page {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  .form-selection-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    //overflow: auto;
  }
}
.overlay-shadow {
  box-shadow: var(--atom-header-container-shadow);
  border: 1px solid var(--atom-header-container-border);
}
